<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        Volver
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Sign up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="assets/icon/2.png">
  </div>

  <form id="form">
    <ion-item>
      <ion-input type="email" [(ngModel)]="username" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" [(ngModel)]="password" placeholder="Contraseña"></ion-input>
    </ion-item>
    <ion-button expand="full" shape="round" (click)="login()">Inicia Sesión</ion-button>
    <!-- Mostrar el mensaje de error -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>
</ion-content>
