<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content>
    <ion-card>
      <ion-card-content>
        <ion-img class="centrada" src="assets/icon/imagen.png" alt="Imagen"></ion-img>
      </ion-card-content>
    </ion-card>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-content>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      
  
      <ion-button [routerLink]="['/inicio']">Inicia sesion</ion-button> 
      <ion-button [routerLink]="['/registro']">Registrarse</ion-button>
  </ion-content>
  
  